:root {
    --color-gray-azure: #719CA6;
    --color-gray-azure2: #68949E;
    --color-gray-azure3: #6A9297;
    --color-gray-brown: #755E52;
    --color-gray-orange: #FFFFFF;
    --color-gray-light: #B8BAB8;
}